<style>
  
  .fgfyjdg{
    background-color: #F3F6F9!important;
  }
</style>
<div class="container-xxl position-relative bg-white d-flex p-0 fgfyjdg">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div style="background-color: #e4e4e4;" class="sidebar pe-4 pb-3  ">
      <nav class="navbar  navbar-light">
        <a href="index.html" class="navbar-brand mx-4 mb-3">
          <h3 class="text-dark">GetLaps</h3>
        </a>
        <div class="d-flex align-items-center ms-4 mb-4">
          <div class="position-relative">
            <img class="rounded-circle" src="https://scopetron.com/wp-content/uploads/2019/11/3_avatar-512.png" alt="" style="width: 60px; height: 60px;">
            <div class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
            </div>
          </div>
          <div class="ms-3">
            <h6 class="mb-0">Admin</h6>
            <span>Muhammed Anas</span>
          </div>
        </div>
        <div class="navbar-nav w-100">
          <a href="/admin/home" class="nav-item nav-link active fgfyjdg"><img class="me-3"style="height: 25px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/1035/1035769.png" alt="">Dashboard</a>
          
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img class="me-3"style="height: 30px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/833/833763.png" alt="">Manage Products</a>
            <div class="dropdown-menu bg-transparent border-0">
              <hr>
              <a href="/admin/view-products" class="dropdown-item"><strong style="color: rgb(34,155,253);">View Products</strong></a>
              <hr>
              <a href="/admin/view-category" class="dropdown-item"><strong style="color: rgb(34,155,253);">View Categories</strong></a>
              <hr>
              <a href="/admin/view-brand" class="dropdown-item"><strong style="color: rgb(34,155,253);">View Brands</strong></a>
              <hr>
             
            </div>
          </div>
          <a href="/admin/view-users" class="nav-item nav-link"><img class="me-3" style="height: 30px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">Manage Users</a>
          <a href="/admin/view-orders" class="nav-item nav-link"><img class="me-3" style="height: 30px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/1007/1007959.png" alt="">Manage Orders</a>
          
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img class="me-3"style="height: 30px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/879/879859.png" alt="">Manage Offers</a>
            <div class="dropdown-menu bg-transparent border-0">
              <hr>
              <a href="/admin/coupon" class="dropdown-item"><strong style="color: rgb(34,155,253);">Coupen Offer</strong></a>
              <hr>
              <a href="/admin/product-offer" class="dropdown-item"><strong style="color: rgb(34,155,253);">Product Offer</strong></a>
              <hr>
              <a href="/admin/category-offer" class="dropdown-item"><strong style="color: rgb(34,155,253);">Category Offer</strong></a>
              <hr>
              <!-- <a href="/admin/brand-offer" class="dropdown-item">Brand Offer</a> -->
              
             
            </div>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><img class="me-3"style="height: 30px;width: 30px;" src="https://cdn-icons-png.flaticon.com/512/865/865159.png" alt="">Manage Banners</a>
            <div class="dropdown-menu bg-transparent border-0">
              <hr>
              <a href="/admin/banner" class="dropdown-item"><strong style="color: rgb(34,155,253);">Banner</strong></a>
              <hr>
              <a href="/admin/poster" class="dropdown-item"><strong style="color: rgb(34,155,253);">Poster</strong></a>
              <hr>
              
              
             
            </div>
          </div>
          <!-- <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                class="far fa-file-alt me-2"></i>Pages</a>
            <div class="dropdown-menu bg-transparent border-0">
              <a href="signin.html" class="dropdown-item">Sign In</a>
              <a href="signup.html" class="dropdown-item">Sign Up</a>
              <a href="404.html" class="dropdown-item">404 Error</a>
              <a href="blank.html" class="dropdown-item">Blank Page</a>
            </div>
          </div> -->
          
           
           
        </div>
      </nav>

      <div style="position: absolute;
      
      bottom:   0;left: 30px;" >

        <a   href="/admin/logout" class="nav-item nav-link  mb-3"><img class="me-3" style="height: 34px;width: 34px;" src="https://cdn-icons-png.flaticon.com/512/1828/1828479.png" alt=""> <strong>Logout</strong> </a>
        
      </div>
    </div>
    <!-- Sidebar End -->