<!-- Navbar-->
<nav style="position: sticky;
top: 0;
z-index:9;" class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid justify-content-between">
        <!-- Left elements -->
        <div class="d-flex">
            <!-- Brand -->
            <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/">
                <img src="/images/GetLaps.jpg" height="50" alt="Logo" loading="lazy" style="margin-top: 2px;" />
            </a>


        </div>
        <!-- Left elements -->

        <!-- Center elements -->
        <ul class="navbar-nav flex-row d-none d-md-flex">
           <li> <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="/shop">
            <img src="/images/logo.png" height="50" alt="Logo" loading="lazy" style="margin-top: 2px;" />
        </a></li>
            <!-- Search form -->
            <form class="input-group w-auto my-auto d-none d-sm-flex" method="post" action="/getSearchProducts" id="search-form">
               
                <input autocomplete="off" id="search-box" name="key" type="text" class="form-control" placeholder="Search"
                    style="min-width: 125px;" />
                   <button   style="border: none ;outline: none;background-color: black;color: white; width: 40px;" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                  </svg></button>
                  

            </form>
        </ul>
        <!-- Center elements -->

        <!-- Right elements -->
        <ul class="navbar-nav flex-row">
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link d-sm-flex align-items-sm-center" href="/login">
                    <!-- <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle" height="30"
                        alt="Black and White Portrait of a Man" loading="lazy" /> -->


                    <strong class="d-none d-sm-block ms-1 text-white">Login</strong>


                </a>
            </li>

            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link" href="/login">

                    <span><i class="fa-solid fa-cart-shopping text-white"></i></span>
                    <!-- <span class="badge rounded-pill badge-notification bg-danger">6</span> -->
                </a>
            </li>
            <li class="nav-item me-3 me-lg-1">
                <a class="nav-link" href="/login">

                    <span><i class="fa-solid fa-heart text-white"></i></span>
                    <!-- <span class="badge rounded-pill badge-notification bg-danger">6</span> -->
                </a>



        </ul>
        <!-- Right elements -->
    </div>
</nav>
<!-- Navbar -->