<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div id="shopify-section-footer" class="shopify-section">
  <footer class="footer-area gray-bgb pt-100 pb-70" style="background-color: #000;">
      <div class="container">
          <div class="row">
              <div class="col-lg-3 col-md-12 col-12">
                  <div class="footer-widget mb-30">
                      <div style="    margin-top: 15px" class="footer-widget-about">
                          <h4 class="footer-title">About GetLaps</h4>
                          <p> Discover the latest Technology and Products</p>
                      </div>
                      <div class="footer-widget-l-content">
                          <ul>
                              <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-whatsapp"></i></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                              <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-12">
                  <div class="footer-widget mb-30">
                      <div class="footer-widget-m-content text-center">
                          <div class="footer-logo ms-4">
                              <a href="/">
                                  <span style="color: white; margin: auto; opacity: .5;"><h2>GetLaps</h2></span>
                              </a>
                          </div>
                          <div class="footer-nav">
                              <nav>
                                  <ul style="
                                    list-style-type: none;
                                  ">
                                   <li><a href="/profile">My Account</a></li>
                                      <li><a href="/wishlist">Wishlist</a></li>
                                     
                                      <li><a href="/orders">Orders</a></li>
                                      <li><a href="/cart">Cart</a></li>
                                      <li><a href="/shop">Shop</a></li>
                                  </ul>
                              </nav>
                          </div>
                          <div class="footer-paymethod">
                              <ul style="
                              list-style-type: none;
                            ">
                                  <li>

                                  </li>
                              </ul>
                          </div>
                          <p style="    margin-top: 50px" class="neha_copyright">Copyright © <a href="/">GetLaps</a>. All Rights Reserved.</p>
                      </div>
                  </div>
              </div>
              <style>
                  .borderless td,
                  .borderless th {
                      border: none;
                  }
              </style>
              <div class="col-lg-3 col-md-12 col-12">
                  <div class="footer-widget f-right mb-30">
                      <div class="footer-widget-r-content">
                         
                          <table class="table borderless text-white">
                              <tr>
                                  <th>Phone: </th>
                                  <td>+91 9656278106</td>
                              </tr>
                              <tr>
                                  <th>Email:</th>
                                  <td>anasabdulkareem99@gmail.com</td>
                              </tr>
                              <tr>
                                  <th>Address:</th>
                                  <td> Anchukandan House <br>
                                    Cherur (PO), Vengara <br>
                                    Malappuram</td>
                              </tr>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </footer>
  <style>
      .footer-widget-l-content a,
      .footer-title,
      .footer-widget-about>p,
      .footer-nav ul li a,
      .footer-widget-m-content>p,
      .footer-widget-r-content li,
      .neha_copyright a {
          color: #fff;
      }

      .footer-widget-l-content a {
         
      }

      .footer-nav::before {
          background: #fff none repeat scroll 0 0;
      }

      .footer-nav ul li a:hover,
      .neha_copyright a:hover {
          color: #727272;
      }

      .footer-widget-l-content a:hover {
          /* border: 1px solid #a8741a; */
          background-color: #727272;
      }
  </style>
</div>