<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>
    <style>
        .errormsg{
          color: red;
          opacity: .5;
        }
      </style>
        <section class="vh-100" style="background-color: #DEDEDE;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: .8;">
                            <div class="card-body p-5 text-center">

                                <h2 class="mb-5">Forgot Password</h2>
                                <form action="/forgotPassword" method="post" id="formv">
                                    <label class="form-label mb-3 errormsg"><%=err%></label>
                                    <!-- <div class="form-outline mb-4">
                                        <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                            name="email" />
                                        <label class="form-label" for="typeEmailX-2">Enter Your Registered Email</label>
                                    </div> -->
                                    <div class="form-outline mb-4">
                                        <input type="number" id="typeEmailX-2" class="form-control form-control-lg"
                                            name="mobile" required />
                                        <label class="form-label" for="typeEmailX-2">Enter Your Registered Mobile Number</label>
                                    </div>
                                    






                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <%- include('../partials/foot') %>