<%- include('../partials/head') %>
    <%- include('../partials/navbar') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <section class="vh-100" style="background-color: #DEDEDE;">
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                        <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: .8;">
                            <div class="card-body p-5 text-center">

                                <h2 class="mb-5">Create New Password</h2>
                                <form action="/newPassword/<%=userMobile%>" method="post" id="formv">
                                    <!-- <div class="form-outline mb-4">
                                        <input type="email" id="typeEmailX-2" class="form-control form-control-lg"
                                            name="email" />
                                        <label class="form-label" for="typeEmailX-2">Enter Your Registered Email</label>
                                    </div> -->
                                    <div class="form-outline mb-4">
                                        <input type="number" id="psw" class="form-control form-control-lg"
                                            name="password" required/>
                                        <label class="form-label" for="typeEmailX-2">Enter Your Password</label>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="number" id="cpsw" class="form-control form-control-lg"
                                            required />
                                        <label class="form-label" for="typeEmailX-2">Confirm Password</label>
                                    </div>
                                    <div style="margin-top: 7px;" id="CheckPasswordMatch"></div>
                                    <br>
                                    <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>



                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script>
            $(document).ready(function() {
              $("#cpsw").on('keyup', function() {
                var password = $("#psw").val();
                var confirmPassword = $("#cpsw").val();
                if (password != confirmPassword)
                  $("#CheckPasswordMatch").html("Password does not match !").css("color", "red");
                else
                  $("#CheckPasswordMatch").html("Password match !").css("color", "green");
              });
            });
          </script>
        <%- include('../partials/foot') %>