<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<section class="vh-100" style="background-color: #DEDEDE;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;opacity: .8;">
            <div class="card-body p-5 text-center">
  
              <h3 class="mb-5">OTP-Verification</h3>
  <form action="/otp-checking/<%=userMobile%>" method="post" id="formv">
              <div class="form-outline mb-4">
                <input type="number" id="typeEmailX-2" class="form-control form-control-lg" name="otp" required />
                <label class="form-label" for="typeEmailX-2">Enter Your OTP</label>
              </div>
  
              
  
              <!-- Checkbox -->
             
  
              <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
              
  
              
            </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<%- include('../partials/foot') %>